* {
    box-sizing: border-box;
    font-family: "Transcity", sans-serif;
    color: white;
    font-weight: 300;
    --off-white: #FAF9F650
}

@font-face {
    font-family: "Transcity";
    src: url("./assets/Transcity\ DEMO.otf");
}

body {
    padding: 0;
    margin: 0;
    display: flex;
}

#frame {
    opacity: 0;
    position: absolute;
    transform: translate(-20%, 100%) scale(0.65);
    transition: all 1.25s ease-in-out;
}
  
.loading-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#logo {
position: absolute;
top: 0;
left: 0;
transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1); 
transition: all 1s ease-in-out;
}

#form-container {
    opacity: 0;
}

@media (max-width: 540px) {
    #loading-page {
        padding: 50px;
    }
}